apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: portfolio
type: Opaque
data:
  # Remplacer par vos valeurs encodées en base64
  # Exemple : echo -n "votre_username" | base64
  mongo-username: <BASE64_USERNAME>
  # Exemple : echo -n "votre_password" | base64
  mongo-password: <BASE64_PASSWORD>
